@model List<Product>

@{
    ViewBag.Title = "Список автомобилей";
    Layout = "_Layout";
    var isAdminOrSuperAdmin = User.IsInRole("superAdmin");
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h2>@ViewBag.Title</h2>
            </div>
            @{
                if (isAdminOrSuperAdmin)
                {
                    <a asp-action="Add" class="my-3 btn btn-outline-info">Добавить товар</a>
                }
            }
            
            <form asp-controller="Products" asp-action="Index" method="post" class="text-center">
                
                <div class="form-group mr-2 search mx-auto mt-1">
                    @* <label for="category" class="mr-2">Категория:</label> *@
                    <select id="category" name="category" class="form-control">
                        <option value="">Категории</option>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Id">@category.CategoryName</option>
                        }
                    </select>
                </div>
                
                <div class="form-group mr-2 search mx-auto mt-1">
                    @* <label for="brand" class="mr-2">Марка:</label> *@
                    <select id="brand" name="brand" class="form-control">
                        <option value="">Марки</option>
                        @foreach (var brand in ViewBag.Brands)
                        {
                            <option value="@brand.Id">@brand.BrandName</option>
                        }
                    </select>
                </div>
                
                @* <div class="form-group mr-2 search mx-auto mt-1"> *@
                @*     $1$ <label for="model" class="mr-2">Модель:</label> #1# *@
                @*     <select id="model" name="model" class="form-control"> *@
                @*         <option value="">Модели</option> *@
                @*         @foreach (var carModel in ViewBag.Models) *@
                @*         { *@
                @*             <option value="@carModel.Id">@carModel.ModelName</option> *@
                @*         } *@
                @*     </select> *@
                @* </div> *@
                
                <div class="form-group mr-2 search mx-auto mt-1">
                    @* <label for="motor" class="mr-2">Двигатель:</label> *@
                    <select id="motor" name="motor" class="form-control">
                        <option value="">Тип двигателя</option>
                        @foreach (var carMotor in ViewBag.Motors)
                        {
                            <option value="@carMotor.Id">@carMotor.TypeName</option>
                        }
                    </select>
                </div>
                
                
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary m-3">Применить фильтр</button>
                </div>
            </form>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(ViewBag.FilterMessage))
    {
        <div class="text-center">
            <p>@ViewBag.FilterMessage</p>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a asp-action="Details" asp-route-id="@product.Id">
                            <img src="/uploads/@product.AvatarFileName" class="card-img-top img-fluid" alt="Изображение товара">
                        </a>
                        <div class="card-body text-center">
                            <a asp-action="Details" asp-route-id="@product.Id">
                                <h5 class="card-title">@product.Brand.BrandName @product.ModelAuto.ModelName</h5>
                            </a>
                            
                            <h5 class="card-title">@product.ColorAuto.ColorName</h5>
                            <h5 class="card-title">Год: @product.Years</h5>
                            <p class="card-text">
                                <em><strong>Цена:</strong></em>
                                @if (product.Price == 0)
                                {
                                    <text>Надо уточнить</text>
                                }
                                else
                                {
                                    @($"{product.Price} KZT")
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>