@model CarSale.ViewModels.PaginationThemeViewModel

@{
    ViewBag.Title = "Спец техника";
    Layout = "_Layout";
    var isAdminOrSuperAdmin = User.IsInRole("superAdmin");
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @* <div class="text-center"> *@
            @*     <h2>@ViewBag.Title</h2> *@
            @* </div> *@
            @{
                if (isAdminOrSuperAdmin)
                {
                    <a asp-action="Add" class="my-3 btn btn-outline-info">Добавить товар</a>
                }
            }
            
            <form asp-controller="Products" asp-action="SpecialEquipment" method="post" class="text-center">
            
                @* <div class="form-group mr-2 search mx-auto mt-1"> *@
                @*     <select id="category" name="category" class="form-control"> *@
                @*         <option value="">Все категории</option> *@
                @*         @foreach (var category in ViewBag.Categories) *@
                @*         { *@
                @*             <option value="@category.Id" selected="@(category.Id == ViewBag.SelectedCategoryId ? "selected" : null)"> *@
                @*                 @category.CategoryName *@
                @*             </option> *@
                @*         } *@
                @*     </select> *@
                @* </div> *@
            
                <div class="form-group mr-2 search mx-auto mt-1">
                    <select id="brand" name="brand" class="form-control">
                        <option value="">Все марки</option>
                        @foreach (var brand in ViewBag.Brands)
                        {
                            <option value="@brand.Id" selected="@(brand.Id == ViewBag.SelectedBrandId ? "selected" : null)">
                                @brand.BrandName
                            </option>
                        }
                    </select>
                </div>
            
               <div class="form-group mr-2 search mx-auto mt-1">
                   <select id="motor" name="motor" class="form-control">
                       <option value="">Все типы двигателя</option>
                       @foreach (var carMotor in ViewBag.Motors)
                       {
                           <option value="@carMotor.Id" selected="@(carMotor.Id == ViewBag.SelectedMotorId)">
                               @carMotor.TypeName
                           </option>
                       }
                   </select>
               </div>
            
            
            
                <div class="form-group">
                    <button type="submit" class="btn btn-primary m-3">Применить фильтр</button>
                </div>
            </form>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(ViewBag.FilterMessage))
    {
        <div class="text-center">
            <p>@ViewBag.FilterMessage</p>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a asp-action="Details" asp-route-id="@product.Id">
                            <img src="/uploads/@product.AvatarFileName" class="card-img-top img-fluid" alt="Изображение товара">
                        </a>
                        <div class="card-body text-center">
                            <a asp-action="Details" asp-route-id="@product.Id">
                                <h5 class="card-title">@product.Brand.BrandName @product.ModelAuto.ModelName</h5>
                            </a>
                            
                            <h5 class="card-title">Цвет: @product.ColorAuto.ColorName</h5>
                            <h5 class="card-title">Год: @product.Years</h5>
                            <p class="card-text">
                                <em><strong>Цена:</strong></em>
                                @if (product.Price == 0)
                                {
                                    <text>Надо уточнить</text>
                                }
                                else
                                {
                                    @($"{product.Price:N0} KZT")
                                }
                            </p>

                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

<div class="text-center mt-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.TotalPages > 1)
            {
                <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="?page=1">Первая</a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" href="?page=@i">@i</a>
                    </li>
                }

                <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="?page=@Model.TotalPages">Последняя</a>
                </li>
            }
        </ul>
    </nav>
</div>

