@model List<TypeAuto>

@{
    ViewBag.Title = "Список брэндов";
    Layout = "_Layout";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="table_section">
    <a asp-action="Add" class="my-3 btn btn-outline-info">Добавить брэнд</a>

    @if (Model.Count == 0)
    {
        <p>Список брэндов пуст</p>
    }
    else
    {
        
        <table class="table mx-auto text-center">
            <thead>
            <tr>
                <th>№</th>
                <th>Тип кузова</th>
                <th>Редактирование</th>
                <th>Удаление</th>
            </tr>
            </thead>
            <tbody>
            @{
                int i = 0;
                foreach (var brand in @Model)
                {
                    <tr>
                        <td>@(i += 1)</td>
                        <td>@brand.TypeName</td>
                        <td><a asp-action="Edit" asp-route-id="@brand.Id" class="btn btn-primary">Редактироввть</a></td>
                        <td><a asp-action="Delete" asp-route-id="@brand.Id" class="btn btn-danger">Удалить</a></td>
                    </tr>
                }
            }
            </tbody>
        </table>
    }
</div>